.character {
  display: grid;
  grid-template-rows: 1.5fr 2fr 2fr;
  height: 700px;
  width: 200px;
}

img {
  width: 190px;
  height: 200px;
}
/* .display {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
} */
