main {
  /* TODO find a rad background image */
  background-color: antiquewhite;
}

.container {
  display: flex;
}

.left,
.right {
  align-items: center;
  /* TODO remove border */
  border: 1px red solid;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
  width: 100%;
}
