button {
  background-color: var(--color1);
  border: none;
  border-radius: 20px;
  color: var(--color6);
  display: block;
  font-weight: 700;
  height: 2em;
  margin-top: 5px;
}

.editor,
.counter,
.catchphrases,
button,
select,
input,
label {
  margin-left: 20px;
  width: 70%;
}

.form-control {
  margin-top: 20px;
}

input,
select {
  background-color: var(--color6);
}

label {
  cursor: default;
  display: block;
  font-weight: 700;
  left: 0;
  text-transform: uppercase;
  top: 0;
}
